.musicList {
    background: #eee;
    .listInfo {
        width: 1200px;
        margin: 0 auto;
        padding-top: 40px;
        .listImg {
            float: left;
            img {
                width: 250px;
                height: 250px;
            }
        };
        .listDetails {
            float: left;
            margin-left: 30px;
            h1 {
                line-height: 24px;
                margin-bottom: 12px;
                i {
                    display: inline-block;
                    background: url('../images/icon.png') no-repeat;
                    width: 54px;
                    height: 24px;
                    background-position: 0 -243px;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            };
            h2 {
                display: flex;
                align-items: center;
                img {
                    width: 35px;
                    height: 35px;
                    margin-right: 10px;
                }
                a {
                    color: #0c73c2;
                    font-size: 12px;
                    display: inline-block;
                    margin-right: 10px;
                    
                }
                em {
                    color: #999;
                    font-size: 12px;

                }
                a:hover {
                    text-decoration: underline;
                    
                }
            };
            .tag {
                margin-top: 30px;
                p{
                    color: #777;
                    span {
                        display: inline-block;
                        padding: 3px 13px;
                        border: 1px solid #ddd;
                        border-radius: 20px;
                        font-size: 12px;
                        color: #777;
                        margin: 0 5px;
                        cursor: pointer;
                        background: #777
                    }
                    span:hover {
                        background: #fff;
                    }

                }
                
            }
            
        }
    }
}